<div class="ui container">
    <br>
    <div class="ui text container">
        <h2 class="ui  center aligned  icon header">Offered Land</h2>
    </div>
    <div class="ui form">
        <div class="inline field">
            <label>Zone</label>
            <div class="field"></div>
            <div class="ui fluid search selection dropdown" id="ddZone">
                <input type="hidden" id="inputZone">
                <i class="dropdown icon"></i>
                <div class="default text">All Zone</div>
                <div class="menu">
                    <div class="item" data-value="">All Zone</div>
                    {{#each zoneList}}
                    <div class="item" data-value="{{this.id}}"><b>Zone {{this.id}}</b> &nbsp;&nbsp; {{this.name_th}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="ui right floated button primary" style="margin-bottom: 1%" id="btnViewMap">
        VIEW MAP
    </div>
    <div class="ui right floated button primary" style="margin-bottom: 1%" id="btnViewReport" onclick="viewReport()">
        VIEW REPORT
    </div>
    <div class="ui right floated button primary" style="margin-bottom: 1%" id="btnExportCSV" onclick="exportCSV()">
        EXPORT CSV
    </div>
    <div id="map"></div>
</div>
<script>
    $('.ui.accordion')
        .accordion()
        ;
    $('.ui.dropdown').dropdown();
</script>

<script>
    $('#landButton').attr('class', 'item')
    $('#mapButton').attr('class', 'active item')
    $('#btnViewMap').attr('class', 'ui right floated button active')
    $('#ddZone').dropdown('set selected', {{{ zoneId }}})
    $('#inputZone').attr('onchange', 'filterZone()')
    function viewReport() {
        window.location.href = `/backoffice/land/{{{ zoneId }}}`
    }
    function filterZone() {
        var zoneId = $('#inputZone').val();
        window.location.href = `/backoffice/map/${zoneId}`
    }
</script>
<script>

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 13.749, lng: 100.546 },
            zoom: 11
        });
        $.ajax({
            type: 'GET',
            url: '/api/get-polygon/{{ zoneId }}',
            contentType: 'application/json',
            success: function (data) {
                data.forEach(value => {
                    var pathArray = []
                    var valueArray = (value.strltln).split(', ');
                    valueArray.forEach(path => {
                        pathArray.push(JSON.parse(path))
                    })

                    var googlePolygon = new google.maps.Polygon({
                        paths: pathArray,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });
                    googlePolygon.setMap(map)
                });
            }, error: function (data) {
            }
        });

        $.ajax({
            type: 'GET',
            url: '/api/get-offeredland/{{zoneId}}',
            contentType: 'application/json',
            success: function (data) {
                data.forEach(value => {
                    var marker = new google.maps.Marker({
                        position: JSON.parse(value.ltln),
                        map: map
                    });


                })
            },
            error: function (data) {

            }
        })
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUn6pj0HG8KbM6zeFBsYgHEjHT70ti8gc&callback=initMap&libraries=geometry"
    async defer></script>
<style scoped>
    #map {
        width: 100%;
        height: 60vh;
    }
</style>